CSharpDemo/PIClient/Service References/PIClient/SI_TM2NET_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:gmk:tm_v1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_TM2NET_Out" targetNamespace="urn:gmk:tm_v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_TM2NET_Out" />
  <wsdl:types>
    <xsd:schema xmlns="urn:gmk:tm_v1" targetNamespace="urn:gmk:tm_v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_TM2NET" type="p1:DT_TM2NET" />
      <xsd:complexType name="DT_TM2NET">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ed5b9bf9c91411e7cbf1000000289a57</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="WFID" type="xsd:string" />
          <xsd:element name="Point" type="xsd:string" />
          <xsd:element name="XmlKey" type="xsd:string" />
          <xsd:element name="XmlDataIn" type="xsd:string" />
          <xsd:element name="XmlDataOut" type="xsd:string" />
          <xsd:element name="XmlEx" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_TM2NET">
    <wsdl:documentation />
    <wsdl:part name="MT_TM2NET" element="p1:MT_TM2NET" />
  </wsdl:message>
  <wsdl:portType name="SI_TM2NET_Out">
    <wsdl:documentation />
    <wsdl:operation name="SI_TM2NET_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_TM2NET_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_TM2NET" />
      <wsdl:output message="p1:MT_TM2NET" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_TM2NET_OutBinding" type="p1:SI_TM2NET_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_TM2NET_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_TM2NET_OutService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_TM2NET_OutBinding">
      <address location="http://xgpidev01.itdtest.internal:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_NET&amp;receiverParty=&amp;receiverService=&amp;interface=SI_TM2NET_Out&amp;interfaceNamespace=urn%3Agmk%3Atm_v1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_TM2NET_OutBinding">
      <address location="https://xgpidev01.itdtest.internal:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_NET&amp;receiverParty=&amp;receiverService=&amp;interface=SI_TM2NET_Out&amp;interfaceNamespace=urn%3Agmk%3Atm_v1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>